@media screen and (max-width:768px) {
    .header{
        position:static;
        justify-content: space-around;
    }

    .header-buscador{
        position: static;
        transform: none;
        margin-left: 3vw;
    }

    .categorias{
        width: 25vw;
    }

    .categorias-title{
        font-size: 14px;
        justify-content: space-around;
    }

    .popup-h1{
        text-align: center;
    }

    .containerProductStore{
        justify-content: center;
    }
}

@media screen and (max-width:480px) {
    
    .header-buscador-input{
        width: 80px;
    }

    .header-buscador-boton{
        width: 100px;
        height: 34px;
    }

    .sectionStore{
        width: 80%;
    }

    .sectionStore img{
        width: 150px;
        height: 150px;
    }

    .targetProps h2{
        font-size: 18px;
    }

    .targetProps p{
        font-size: 15px;
    }

    .categorias{
        width: 35vw;
    }

    .categorias-title{
        width: 95%;
        font-size: 10px;
        justify-content: space-around;
    }

    .categorias-title-img{
        width: 18px;
    }

    .lista-elemento{
        font-size: 13px;
        text-align: center;
    }
}

@media screen and (max-width:320px) {
    

    .categorias{
        display: none;
    }

    .elementos{
        width: 95%;
    }

    .header-buscador{
        display: none;
    }

    .header{
        justify-content: center;
    }

    .header-agregar{
        margin: 0;
    }
}